body {
    color: #333;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $mainOrange;
}

* {
    box-sizing: border-box;
}

.next-row {
    display: block !important;
    @mixin atSmall {
        display: inline-block !important;
    }
}